.overlay {
  background: #f5f3f511;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: var(--white);
  width: 100%;
  max-width: 400px;
  padding: 2rem 3rem;
  border-radius: 5px;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
  text-align: center;
  position: relative;
}

.container strong {
  color: var(--red);
  font-size: 1.5rem;
  border-bottom: 1px solid var(--gray-line);
  padding-bottom: 0.5rem;
}

.container p {
  color: var(--title);
  font-size: 1rem;
  font-weight: 600;
  margin-top: 1rem;
}

.container button {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  background: transparent;
  border: 0;
  font-size: 0;
}

.container button img {
  height: 2rem;
}
